In [1]:
# import libraries here; add more as necessary
import numpy as np
import pandas as pd
from collections import Counter
from operator import itemgetter
import time
from matplotlib_venn import venn2
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import BaggingClassifier
from sklearn.pipeline import Pipeline

# magic word for producing visualizations in notebook
%matplotlib inline

### Load Data
Since the dataset is more than 1GB, I've used `c` engine instead of `python` to load data faster. In addition, there are mixed data in column 18 & 19; more specifically some `NaN` values are represented by `X` & `XX`. These values are set as `na_values`.

In [2]:
# Load data
def load_data(azdias_filepath, customers_filepath, attributes_filepath, attributes_desc_filepath):
    """
    Method for loading dataset from CSV & Excel
    
    Args:
        azdias_filepath (str): Azdias filepath (Udacity_AZDIAS_052018)
        customers_filepath (str): Customers filepath (Udacity_CUSTOMERS_052018)
        attributes_filepath (str): Attributes filepath (DIAS Attributes - Values 2017.xlsx)
        attributes_desc_filepath (str): Attributes description (DIAS Information Levels - Attributes 2017.xlsx)
        
    Output:
        azdias: Pandas Dataframe
        customers: Pandas Dataframe
        attributes: Pandas Dataframe
        attributes_desc: Pandas Dataframe
    """
    
    # Load "azdias" dataset
    azdias = pd.read_csv(azdias_filepath, na_values=["X", "XX"], engine="c")
    
    # Load "customers" dataset
    customers = pd.read_csv(customers_filepath, na_values=["X", "XX"], engine="c")
    
    # Load "attributes" dataset
    attributes = pd.read_excel(attributes_filepath, header=1).loc[:, ["Attribute", "Value", "Meaning"]].fillna(method='ffill')
    
    # Load "attributes_desc"
    attributes_desc = pd.read_excel(attributes_desc_filepath, header=1).loc[:, ["Information level", "Attribute", "Description",
                                                                                "Additional notes"]].fillna(method='ffill')
    
    return azdias, customers, attributes, attributes_desc

In [3]:
%%time
azdias_filepath = "Udacity_AZDIAS_052018.csv"
customers_filepath = "Udacity_CUSTOMERS_052018.csv"
attributes_filepath = "DIAS Attributes - Values 2017.xlsx"
attributes_desc_filepath = "DIAS Information Levels - Attributes 2017.xlsx"

azdias, customers, attributes, attributes_desc = load_data(azdias_filepath, customers_filepath, attributes_filepath,
                                                         attributes_desc_filepath)

Wall time: 36.7 s

### Explore the Datasets

In [4]:
print("General population dataset, azdias shape: ", azdias.shape)
print("Customers dataset, customers shape: ", customers.shape)

General population dataset, azdias shape:  (891221, 366)
Customers dataset, customers shape:  (191652, 369)

In [5]:
# Create a dataframe that describes the information about each features
def build_feat_info(df):
    """
    Method for finding feature informations
    
    Args:
        df (Pandas Dataframe): Dataframe that needs to be described
        
    Output:
        Pandas Dataframe
    """
    return pd.DataFrame({
        'value_count' : [df[x].count() for x in df.columns],
        'value_distinct' : [df[x].unique().shape[0] for x in df.columns],
        'num_nans': [df[x].isnull().sum() for x in df.columns],
        'percent_nans' : [round(df[x].isnull().sum()/df[x].shape[0], 3) for x in df.columns],
    }, index = df.columns)

In [6]:
%%time
feat_info_azdias = build_feat_info(azdias)
feat_info_azdias.sort_values(by=['percent_nans'], ascending=False)

Wall time: 7.1 s

                           value_count  value_distinct  num_nans  percent_nans
ALTER_KIND4                       1205              13    890016         0.999
ALTER_KIND3                       6170              16    885051         0.993
ALTER_KIND2                      29499              18    861722         0.967
ALTER_KIND1                      81058              18    810163         0.909
EXTSEL992                       237068              57    654153         0.734
...                                ...             ...       ...           ...
D19_VERSAND_ANZ_24              891221               7         0         0.000
D19_VERSAND_DATUM               891221              10         0         0.000
D19_VERSAND_OFFLINE_DATUM       891221              10         0         0.000
D19_VERSAND_ONLINE_DATUM        891221              10         0         0.000
ALTERSKATEGORIE_GROB            891221               5         0         0.000

[366 rows x 4 columns]

In [7]:
%%time
feat_info_customers = build_feat_info(customers)
feat_info_customers.sort_values(by=['percent_nans'], ascending=False)

Wall time: 1.88 s

                           value_count  value_distinct  num_nans  percent_nans
ALTER_KIND4                        236              11    191416         0.999
ALTER_KIND3                       1275              15    190377         0.993
ALTER_KIND2                       5100              18    186552         0.973
ALTER_KIND1                      11766              18    179886         0.939
KK_KUNDENTYP                     79715               7    111937         0.584
...                                ...             ...       ...           ...
D19_VERSAND_ANZ_24              191652               7         0         0.000
D19_VERSAND_DATUM               191652              10         0         0.000
D19_VERSAND_OFFLINE_DATUM       191652              10         0         0.000
D19_VERSAND_ONLINE_DATUM        191652              10         0         0.000
ALTERSKATEGORIE_GROB            191652               5         0         0.000

[369 rows x 4 columns]

### Check Features 
#### Create Features List from `attributes` and `attributes_desc`

In [8]:
# Features listed in "attributes" 
features_attributes = sorted(list(set(attributes.Attribute.tolist())))

# Features listed in attributes_desc 
features_attributes_desc = attributes_desc.Attribute.tolist()

# Multiple features in attributes_desc are grouped in a single string separated by whitespaces
# Split the multiple features into separate string
features_attributes_desc = sorted([feature for group_feature in features_attributes_desc for feature in group_feature.split()])

# Check if there is any unique features in attributes or in attributes_desc
unique_attributes_features = set(features_attributes) - set(features_attributes_desc)
unique_attributes_desc_features = set(features_attributes_desc) - set(features_attributes)
print("Unique attributes features: {}, Unique attributes_desc features: {}".format(len(unique_attributes_features),
                                                                                  len(unique_attributes_desc_features)))

# Combine all features and create the features list
features_list = sorted(list(set.union(set(features_attributes), set(features_attributes_desc))))
print("Total number of features: ", len(features_list))

Unique attributes features: 4, Unique attributes_desc features: 8
Total number of features:  322

#### Check Features of `azdias` and `customers`
Using `features_list` generated earlier, check how many features are present in `azdias` and `customers`

In [9]:
azdias_feat = azdias.columns.tolist()
customers_feat = customers.columns.tolist()

# First check if all the features from features_list are present in azdias and customers
common_azdias_feat = set(azdias_feat) & set(features_list)
common_customers_feat = set(customers_feat) & set(features_list)

print("Number of common features: azdias_feat: {}, customers_feat: {}".format(len(common_azdias_feat),
                                                                              len(common_customers_feat)))

Number of common features: azdias_feat: 276, customers_feat: 276

**Observations:** There are 8 features in `features_list` which are present in `attributes_desc`, but not in `attributes`. These features have descriptions but their encoded values cannot be found in `attributes`. Let's explore these features and their values in `azdias` before further analysis of all the datasets.

In [10]:
unique_attributes_desc_features = list(unique_attributes_desc_features)
azdias_subset = azdias.loc[:, unique_attributes_desc_features]
feat_info_azdias_subset = build_feat_info(azdias_subset)
feat_info_azdias_subset.sort_values(by=['percent_nans'], ascending=False)

C:\Users\Reza\Anaconda3\lib\site-packages\pandas\core\indexing.py:1418: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

                         value_count  value_distinct  num_nans  percent_nans
GKZ                                0               1    891221         1.000
PLZ8                               0               1    891221         1.000
PLZ                                0               1    891221         1.000
EINWOHNER                          0               1    891221         1.000
ARBEIT                        794005               7     97216         0.109
D19_VERSI_ONLINE_DATUM        891221              10         0         0.000
D19_VERSI_DATUM               891221              10         0         0.000
D19_VERSI_OFFLINE_DATUM       891221              10         0         0.000

**Observations:** Features with 100% `NaN` counts can be dropped during the downstream data cleaning process. However, four features: i. `ARBEIT`, ii. `D19_VERSI_DATUM`, iii. `D19_VERSI_OFFLINE_DATUM` iv. `D19_VERSI_ONLINE_DATUM`, have relatively low `NaN` counts. These features should be preserved during data cleaning process. First, let's explore the distinct values for each columns since they are not described in `attributes`.

In [11]:
# Drop the columns with high NaN percentage from azdias_subset
azdias_subset.drop(columns=["EINWOHNER", "PLZ8", "PLZ", "GKZ"], inplace=True)
azdias_subset_distinct_val = pd.DataFrame({
                                "value_list" : [sorted(azdias_subset[x].unique()) for x in azdias_subset.columns]
                            }, index = azdias_subset.columns)
azdias_subset_distinct_val

                                                  value_list
D19_VERSI_ONLINE_DATUM       [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
ARBEIT                   [nan, 1.0, 2.0, 3.0, 4.0, 5.0, 9.0]
D19_VERSI_DATUM              [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
D19_VERSI_OFFLINE_DATUM      [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

**Assumption:** Referring to `DIAS Information Levels - Attributes 2017.xlsx`, `ARBEIT` belongs to community level features. Community level features also include `RELAT_AB` whose description is similar to `ARBEIT`. Therefore, value encoded for `RELAT_AB` will be used as reference for `ARBEIT`.

`D19_VERSI_DATUM`, `D19_VERSI_OFFLINE_DATUM`, and `D19_VERSI_ONLINE_DATUM` have no missing values and no encoding description is available for these features in `DIAS Attributes - Values 2017.xlsx`. Therefore, these features will remain in the datasets without any modifications.